
*, *:before, *:after{
    box-sizing:border-box;
}
body{
    font-family:sans-serif;
    margin:0;
}
.header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 4fr 3fr;
    grid-template-rows: 1fr 5fr;
    align-items: center;
    grid-column-gap: 15px;
    background-color: #ffc7c2;
    overflow:hidden;
    min-height:650px;
}
.header-logo, .header-text{
    position:relative;
}
.header-logo{
    justify-content:center;
    grid-column:1/2;
    grid-row:1/2;
}
.header-text {
    max-width: 650px;
    display: grid;
    grid-row-gap: 50px;
    justify-content: flex-start;
    grid-column: 2/3;
    grid-row: 2/3;
}
.header-img {
    position: absolute;
    bottom: 0;
    right: 150px;
}
.header-title{
    font-size:65px;
    color:#ffffff;
    text-shadow: 3px 3px 0 #000000;
}
.header-subtitle {
    font-size: 20px;
    color: #000000;
    text-shadow: 1px 0 0 #ff6c5d, -1px 0 0 #ff6c5d, 0 -1px 0 #ff6c5d, 0 1px 0 #ff6c5d;
}
.header-buttons{
    margin: 20px;
}

.circle{
    border-radius:50%;
    background-color:#ff6c5d;
    position: absolute;
}
    .circle.small {
        width: 400px;
        height: 400px;
        z-index: 0;
        top: -40px;
        left: -150px;
    }
    .circle.big {
        width: 800px;
        height: 800px;
        z-index: 0;
        top: -8px;
        right: -30px;
    }
.buttons {
    font-size: 14px;
    color: #ffffff;
    background-color: #bb3333;
    text-transform: uppercase;
    padding: 20px 50px;
    border-radius: 100px;
    box-shadow: 0 5px 40px #bb3333;
}
    .buttons:hover {
        background-color: #ce6868;
        box-shadow: 0 5px 40px #ce6868;
    }
a{
    text-decoration:none;
}
.nav{
    display:flex;
    justify-content: center;
    padding:10px;
    font-family:sans-serif;
    background:#bb3333;
    max-height:300px;
    color:#ffffff;
}
.nav.section{
    display:flex;
    align-items:center;
    text-transform:uppercase;
}
.nav.item{
    padding:10px 15px;
    font-size:20px;
    font-weight:bold;
}
.nav.item:hover{
    background-color:#d56060;
    border-radius:20px;
}
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: linear-gradient(#ff73b4,#ffaea6);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 2) !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

}
.text {
    margin: 10px;
    padding: 50px;
    color: #702424;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    .text:hover {
        text-decoration: overline;
        text-shadow: 0 5px 40px #ce6868;
    }
.extra {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #702424;
    font-weight: bold;
    padding: 20px;
}
.img {
     margin: 50px;
    padding: 50px;
}
.footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    align-items: center;
    grid-column-gap: 15px;
    background-color: #bb3333;
    overflow: hidden;
    min-height: 250px;
    color: #ffffff;
}
.contacts {
    position: relative;
    max-width: 200px;
    display: grid;
    grid-row-gap: 20px;
    justify-content: flex-start;
    grid-column: 2/3;
    grid-row: 2/3;
}
    .contacts a {
        color: #ff8b7f;
        font-size: 16px;
    }
#icon1 {
    list-style-image: url(img/icon1.png);
   
}
#icon2 {
    list-style-image: url(img/icon2.png);
}
#icon3 {
    list-style-image: url(img/icon3.png);
}
.copyright {
    position: relative;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 3/4;
}
.enter {
    position: relative;
    grid-column: 3/4;
    grid-row: 1/2;
    justify-content: flex-start;
}
    .enter a {
        font-size: 20px;
        color: #ffffff;
    }
        .enter a:hover, .contacts a:hover {
            font-weight: bold;
        }
.circleF {
    border-radius: 50%;
    background-color: #c95a5a;
    position: absolute;
}

    .circleF.small {
        width: 300px;
        height: 300px;
        z-index: 0;
        top: -50px;
        left: -80px;
    }

    .circleF.big {
        width: 800px;
        height: 800px;
        z-index: 0;
        top: -8px;
        right: -30px;
    }
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #bb3333;
    width:10px;
    height:10px;
}